# vim temporary backup
.*.sw*

# binary executables
fasta2aln
fastaCov
realignMSA
rmRedundantSeq
trimMSA
calNf
calNf_ly
fastNf
cleanFastaHeader
cleanFastaBody
AlnAaProb
RemoveNonQueryPosition
fasta2pfam
pfam2fasta
a3m2msa
unaligna3m
fasta2crc64
fastaNA
fastaOneLine
trimBlastN
